.chat-input {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  input {
    border-color: #E9E9E9;
    border-radius: 4px;
  }
  &__smile-btn {
    margin-right: 15px;
  }
  &__emoji-picker {
    display: block;
    position: absolute;
    bottom: 50px;
    left: 0;
  }
  &__actions {
    width: 80px;
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-upload-btn {
      cursor: pointer;
      ::-webkit-file-upload-button { cursor:pointer; }
      &:hover {
        .ant-btn {
          opacity: 1;
        }
      }
      > * {
        cursor: pointer;
      }
    }
  }
  .ant-btn {
    font-size: 20px;
  }
}
