@import '~antd/dist/antd.css';
@import "~reset-css";

@import "layouts/chat";

body, html, .wrapper, #root {
  height: 100%;
  color: #202020;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-variant: tabular-nums;
  background: #F4F7FD;
}

* {
  outline: none;
  box-sizing: border-box;
}



.ant-btn-circle {
  border: none;
  color: #202020!important;
  opacity: 0.4;
  transition: opacity 0.1s ease-in-out 0s;
  &:hover {
    border: none;
    opacity: 1;
  }
  &:after {
    display: none;
  }
}
