.status {
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-transform: lowercase;
  color: rgba(#202020,0.3);
  &:before {
    content: '';
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-top: 3px;
    margin-right: 5px;
    background-color: #d3d3d3;
  }
  &__online {
    &:before {
      background-color: #00C980;
    }
  }
  &__offline {
    &:before {
      background-color: darkred;
    }
  }
}
